// Configuration for Origami components
$o-assets-global-path: '//build.origami.ft.com/files/';
$o-grid-is-silent: true;
$o-grid-debug-mode: true;


// Origami components
@import 'o-fonts/main';
@import 'o-footer/main';
@import 'o-grid/main';
@import 'o-colors/main';


// Own misc. mixins etc.
@import 'functions';
@import 'mixins';
@import 'vars';


// Load fonts
@import 'fonts';


// Our own styles
@import 'base';
@import 'site-header';
@import 'intro';
@import 'closing';


.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 5;
  transition: background-color 0.5s linear;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

}
  .overlay-content {
    @include shadow-8dp;

    background-color: rgba(255, 255, 255, 0.9);
    max-height: 80vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 20px;
    position: relative;

    order: 0;
    flex: 0 0 auto;
    align-self: center;

    // &:after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   box-shadow: inset 0 0 8px rgba(#fff, 1);
    // }

  }


.overlay--hidden {
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  display: none;
}

.overlay--tinted {
  background-color: rgba(0, 0, 0, 0.5);
}


.page-wrapper.showing-overlay {
  max-height: 100vh;
  overflow: hidden;
}
.page-wrapper-2 {
  position: relative;
}


.story__story-figure {
  @include shadow-4dp;

  margin: 0 auto;
  cursor: pointer;
  width: 300px;

  transition: box-shadow 0.25s linear;
  background: white;

  &:hover {
    @include shadow-8dp;
    transition: box-shadow 0.1s linear;
  }

  &:active {
    > img {
      // opacity: 0.5;
      transition: opacity 0s linear;
    }
  }

  > img {
    display: block;
    transition: opacity 0.5s linear;
    width: 300px;
  }
}





.content {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 10px;

  

  p {
    font-size: 19px;
    line-height: 1.25;
  }
}



@include oGridRespondTo(M) {
  .content {
    p {
      line-height: 1.375;
    }
  }
  .story__story-figure,
  .story__story-figure > img {
    width: 500px;
  }
}